<header>
    <div id="logo"><img src="/img/skype.png" alt="logo" /></div>
    <div id="title"><a href="/">后台管理系统</a></div>
    <div id="help">帮助</div>
    <div id="setting"><a href="/userspassword">修改密码</a></div>
    <div id="quit"><a href="/logout">退出</a></div>
</header>