<nav class="HolyGrail-nav">
    <div class="HolyGrail-button" original-title="类型管理" data-name="position"><img src="/img/skype.png" /><span><a href="/position">类型管理</a></span></div>
    <div class="HolyGrail-button" original-title="活动管理" data-name="activity"><img src="/img/skype.png" /><span><a href="/activity">活动管理</a></span></div>
    <div class="HolyGrail-button" original-title="商品管理" data-name="products"><img src="/img/skype.png" /><span><a href="/products">商品管理</a></span></div>
</nav>