<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/message.css" />
    <link rel="stylesheet" href="/stylesheets/frame.css" />
    <link rel="stylesheet" href="/stylesheets/list.css" />
    <link rel="stylesheet" href="/stylesheets/table.css" />
    <link rel="stylesheet" href="/stylesheets/tipsy.css" />
    <style>
        main{
        padding: 10px 50px 50px;
    }
    section.list-title{
        margin-bottom: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        height: 60px;
    }
    .l{
        float: left;
    }
    .r{
        float: right;
    }
    th{
        text-align: center;
    }
    </style>
</head>
  <body class="HolyGrail">
    <% include header %>
    <div class="HolyGrail-body">
        <% include sidebar %>
        <main class="HolyGrail-content">
            <div id="hash-page">
                <form action="/userspassword" method="post" name="myform">
                    <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="text" name="email" class="form-control" id="exampleInputEmail1" placeholder="请输入邮箱" value="<%= info.email%>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputusername1">用户名</label>
                        <input type="text" name="username" class="form-control username" id="exampleInputusername1" placeholder="请输入用户名/昵称" value="<%= info.username%>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="password" class="form-control password" id="exampleInputPassword1"
                            placeholder="请输入密码" value="<%= info.password%>">
                    </div>
                    <button type="submit" class="btn btn-default">submit</button>
                </form>
            </div>
        </main>
    </div>
    <script src="javascripts/jquery.tipsy.js"></script>
    <script src="javascripts/TipClass.js"></script>
  </body>
</html>